<!-- @require toolsList.css -->
<div class="col-md-3 news">
	<div class="panel panel-primary">
		<div class="panel-heading">剑网3相关工具</div>
		<ul class="list-group">
			<a href="/tools/haste/" class="list-group-item" target="_blank">
				<h4 class="list-group-item-heading">加速宝典</h4>
				<p class="list-group-item-text">计算加速阈值，基于楚玄枫，泠落和南宫临风对加速理论研究成果构建，精确无误差。</p>
			</a>
			<a href="/tools/prediction/" class="list-group-item" target="_blank">
				<h4 class="list-group-item-heading">瑰石列表</h4>
				<p class="list-group-item-text">提供各大主流副本的瑰石列表查询。</p>
			</a>
			<a href="/acacia/huajian/" class="list-group-item" target="_blank">
				<h4 class="list-group-item-heading">万花 DPS 模拟器</h4>
				<p class="list-group-item-text">剑三首个全循环模拟工具，支持奇穴、秘籍自定义，可根据官方宏进行模拟。</p>
			</a>
			<a href="http://game.j3ui.com/wiki/" class="list-group-item" target="_blank">
				<h4 class="list-group-item-heading">剑网3成就百科</h4>
				<p class="list-group-item-text">剑网3《成就百科》是一个内容自由、任何人都可以参与的百科全书协作计划。</p>
			</a>
		</ul>
	</div>
</div>
