<!-- @require "banner.css" -->
<section class="full-bleed">
	<div class="section-body style-default-dark force-padding text-shadow">
		<div class="img-backdrop"></div>
		<div class="overlay overlay-shade-top stick-top-left height-3"></div>
		<div class="row">
			<div class="col-md-3 col-xs-5">
				<img class="img-circle img-responsive auto-width" src="tou.png" alt="" style="height:270px"/>
				<!-- <h3>剑网3 全职业配装器<br/><small>Since 2013</small></h3> -->
			</div>
		</div>
		<div class="overlay overlay-shade-bottom stick-bottom-left force-padding text-right">
			<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="微博：魔术师胖叔叔" href="http://weibo.com/printlts" target="_blank"><i class="fa fa-weibo"></i></a>
			<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="用户支持" href="https://support.qq.com/products/105376" target="_blank"><i class="fa fa-envelope" ></i></a>
			<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="开源代码" href="http://github.com/j3pz" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
</section>
