<div class="card panel card-underline">
	<div class="card-head card-head-sm" data-toggle="collapse" data-parent="#accordionThree" href="#ad" target="#ad">
		<header>广告</header>
		<div class="tools">
			<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
		</div>
	</div>
	<div id="ad" class="panel-collapse collapse in row">
		<div class="card-body col-xs-12">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 剑网3 -->
			<ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-8865366264014320"
					data-ad-slot="5343292896"
					data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
	</div>
</div>