.navlink{clear: both;width: 24px;position: relative; font-size: 10px;margin-left: -4px;}
.navpic{width:45px;height:45px;background-repeat: no-repeat;background-position: center;}
.border{display: inline-table;margin: 5px 15px;padding:0px;border:3px solid;border-radius:2px;-moz-border-radius:8px;border-color: rgba(255,255,255,0);}
.border:hover{border:3px solid;border-radius:8px;-moz-border-radius:8px;border-color: rgb(255, 0, 255);padding:0px;}
.navpiccur{border:3px solid;border-radius:8px;-moz-border-radius:8px;border-color: rgb(255, 0, 255);padding:0px;}
.tooltip.customClass .tooltip-inner {
    max-width: 350px;
    min-width: 300px;
    padding: 2px 2px;
}
.tooltip.customClass .tooltip-arrow {
    display: none;
}
.nav-icon{
	width:40px;
	height:40px;
}
.gui-icon{
	border-radius:0px;
}
.menubar-inverse .gui-controls a.expanded .gui-icon, .menubar-inverse .gui-controls li.active .gui-icon, .menubar-inverse .gui-controls li.active .gui-icon:hover {
    background-color: #151518;
    border-color: #151518;
    color: #64b5f6;
}