<!--
	@require equipNavCtrl.new.js
	@require equip-nav.css
	@require /js/libs/ui-bootstrap-tooltip/ui-bootstrap-custom-tpls-1.2.5.min.js
	@require /js/libs/nanoscroller/jquery.nanoscroller.min.js
-->
<div class="menubar-fixed-panel">
	<div>
		<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
			<i class="fa fa-bars"></i>
		</a>
	</div>
	<div class="expanded">
		<a href="/">
			<span class="text-lg text-bold text-primary">剑网3 配装器</span>
		</a>
	</div>
</div>
<div class="menubar-scroll-panel" ng-controller="EquipNavCtrl" style="height:" ng-cloak>
	<ul id="main-menu" class="gui-controls">
		<li ng-repeat="nav in positionIconList" ng-class="nav.type==$root.focus?'active':''" >
			<a href="#" ng-click="navSelect(nav.type)">
				<div class="gui-icon" uib-tooltip-template="'equipTooltip.tmpl.html'"
					ng-mouseenter="equipPreview(nav.type)"
					tooltip-placement="auto right"
					tooltip-class="customClass"
					tooltip-animation="false"
					tooltip-enable="equips[nav.type].data.name"
					tooltip-append-to-body="true">
					<img ng-src="{{nav.icon}}" class="nav-icon"></div>
				<span class="title">{{equips[nav.type].data.name?equips[nav.type].data.name:nav.typeName}}</span>
			</a>
		</li>
	</ul>
	<link rel="import" href="/components/templates/equipTooltip.tmpl.html?__inline">
</div>
