<!--
	@require equipNavCtrl.js 
	@require equip-nav.css 
-->
<div class="row equipNav" ng-controller="EquipNavCtrl">
	<div class='col-xs-2 navpic border' ng-repeat="nav in positionIconList" ng-click="navSelect(nav.type)" ng-class="focus==nav.type?'navpiccur':''" tooltip-template="'equipTooltip.tmpl.html'" ng-mouseenter="equipPreview(nav.type)" tooltip-placement="bottom" tooltip-class="customClass" tooltip-animation="false" tooltip-enable="equips[nav.type].data.name">
		<a href class='col-xs-2 navpic' ng-style="{background:'url('+nav.icon+') 0 0 no-repeat'}"></a>
	</div>
</div>