<!--
	@require equipNavCtrl.new.js 
	@require equip-nav.css 
	@require /js/libs/ui-bootstrap-tooltip/ui-bootstrap-custom-tpls-1.2.5.min.js
	@require /js/libs/nanoscroller/jquery.nanoscroller.min.js
-->
<div class="menubar-fixed-panel">
</div>
<div class="menubar-scroll-panel" ng-controller="EquipNavCtrl" style="height:" ng-cloak>
	<ul id="main-menu" class="gui-controls">
		<li ng-repeat="nav in positionIconList" ng-class="nav.type==$root.focus?'active':''">
			<a href="#" ng-click="navSelect(nav.type)">
				<div class="gui-icon"><img ng-src="{{nav.icon}}" class="nav-icon"></div>
				<span class="title">{{equips[nav.type].data.name?equips[nav.type].data.name:nav.typeName}}</span>
			</a>
		</li>
	</ul>
	<div class="menubar-foot-panel">
		<small class="no-linebreak hidden-folded">
			<span class="opacity-75">Copyright &copy; 2013-2016</span> <strong><a href="https://www.j3pz.com/">剑网3配装器</a></strong><br>
			<a href="http://www.miitbeian.gov.cn/" target="_blank">滇ICP备14005270号-1</a>
		</small>
	</div>
	
</div>