<!-- @require equip-preview.css -->
<div class="row">
	<div class="col-sm-12">
		<div id="equipDetails">
			<div class="equipView column" ng-if="!equips[$root.focus].data.name" >
				<li class="equipName">配装器说明</li>
				<li class="plusInfo">选择左侧的12个装备位置中任一个</li>
				<li class="plusInfo">在右侧的装备工作台中选择装备</li>
				<li class="plusInfo">通过点击不同的标签完成不同操作</li>
				<li class="plusInfo">本页右上方可实时查看角色属性</li>
				<li class="plusInfo">已登录用户可在右上角保存方案</li>
				<li class="plusInfo">未登录用户建议登录后再进行操作</li>
				<li class="plusInfo">否则任何数据均不会被保存</li>
				<li class="score">数据经过大量验证，误差极小</li>
				<li class="score">请自行衡量是否能接受误差，数据仅供参考</li>
				<li class="score">加速属性无误差，请放心使用</li>
			</div>
			<div class="equipView column" ng-if="equips[$root.focus].data.name">
				<!-- 装备名称 -->
				<li class="equipName" ng-if='equips[$root.focus].data.strengthen!=="8"'>
					{{equips[$root.focus].data.name.split("(")[0]}}
					<span class="star" ng-repeat="n in [1,2,3,4,5,6,7,8]" ng-if="n<=equips[$root.focus].jinglian.strengthen">★</span>
					<span class="right">精炼等级:{{equips[$root.focus].jinglian.strengthen}}/{{equips[$root.focus].data.strengthen}}</span>
				</li>
				<li class="equipNameCheng" ng-if='equips[$root.focus].data.strengthen==="8"'>
					{{equips[$root.focus].data.name.split("(")[0]}}
					<span class="star" ng-repeat="n in [1,2,3,4,5,6,7,8]" ng-if="n<=equips[$root.focus].jinglian.strengthen">★</span>
					<span class="right">精炼等级:{{equips[$root.focus].jinglian.strengthen}}/{{equips[$root.focus].data.strengthen}}</span>
				</li>
				<!-- 装备类别 -->
				<li class="basicInfo">{{equips[$root.focus].typeParse}}</li>
				<!-- 装备外防与内防 -->
				<li class="basicInfo" ng-repeat="prefixName in basicInfoWithoutJL" ng-if="equips[$root.focus].data[prefixName]" >
					{{equips[$root.focus].descList[prefixName]}}{{equips[$root.focus].data[prefixName]}}
				</li>
				<!-- 装备基础属性 -->
				<li class="basicInfo" ng-repeat="prefixName in basicInfoWithJL" ng-if="equips[$root.focus].data[prefixName]" >
					{{equips[$root.focus].descList[prefixName]}}{{equips[$root.focus].data[prefixName]}}
					<span>(+{{equips[$root.focus].jinglian[prefixName]}})</span>
				</li>
				<!-- 装备绿字属性（被洗炼） -->
				<li class="plusInfo" ng-repeat-start="prefixName in plusInfo" ng-if="equips[$root.focus].data[prefixName]&&equips[$root.focus].xilian.num[prefixName]" ng-click="openNav('Xilian',$event,prefixName)">
					{{equips[$root.focus].descList[prefixName]}}{{equips[$root.focus].data[prefixName]-equips[$root.focus].xilian.num[prefixName]*-1}}
					<span>(+{{equips[$root.focus].jinglian[prefixName]}})</span><img src="imgs/down.png" height="10" width="10" />
				</li>
				<!-- 装备绿字属性（无洗炼） -->
				<li class="plusInfo" ng-repeat-end ng-if="equips[$root.focus].data[prefixName]&&!equips[$root.focus].xilian.num[prefixName]" ng-click="openNav('Xilian',$event,prefixName)">
					{{equips[$root.focus].descList[prefixName]}}{{equips[$root.focus].data[prefixName]}}
					<span>(+{{equips[$root.focus].jinglian[prefixName]}})</span>
				</li>
				<!-- 装备绿字属性（洗炼目标） -->
				<li class="plusInfo" ng-repeat="prefixName in plusInfo" ng-if="equips[$root.focus].xilian.num[prefixName]>0">
					{{equips[$root.focus].descList[prefixName]}}{{equips[$root.focus].xilian.num[prefixName]}}
					<span>(+{{equips[$root.focus].jinglian[prefixName]}})</span>
					<span ng-style="{color:$root.xilianColorList[equips[$root.focus].xilian.level]}">【<img src="imgs/up.png" height="10" width="10" /> {{$root.xilianLevelDesc[equips[$root.focus].xilian.level]}}品转化】</span>
				</li>
				<!-- 装备触发类特效 -->
				<li class="score" ng-repeat="texiaoCommon in equips[$root.focus].data.texiao.desc" ng-if="equips[$root.focus].data.texiao.type==='Common'">
					{{texiaoCommon}}
				</li>
				<!-- 装备镶嵌孔 -->
				<li ng-repeat-start="n in [0,1,2]" ng-class="equips[$root.focus].embed.stone[n].active?'plusInfo':'holeInactive'" ng-if="n<equips[$root.focus].holes.number">
					<img ng-src="{{'/images/' + equips[$root.focus].embed.stone[n].typeId + '-' + equips[$root.focus].embed.stone[n].level + '.jpg'}}" style="width:16px;height:16px;vertical-align:middle;">
					镶嵌孔：{{equips[$root.focus].newHoles.holeInfo[n].attrDesc}}
					<span class="nostyle" ng-if="equips[$root.focus].embed.stone[n].active">{{equips[$root.focus].embed.stone[n].attr}}</span>
					<span class="nostyle" ng-if="!equips[$root.focus].embed.stone[n].active">?</span>
				</li>
				<li ng-repeat-end class="holeInactive" ng-if="equips[$root.focus].holes.holeInfo[n].changed">
					<img src="imgs/tou.png" style="width:16px;height:16px;vertical-align:middle;">
					镶嵌孔：{{equips[$root.focus].holes.holeInfo[n].attrDesc}}?【原属性】
				</li>
				<!-- 五彩石镶嵌孔(未镶嵌) -->
				<li class="holeInactive" ng-if="(attributeStone[0].level==0&&focus=='b_primaryWeapon')||(attributeStone[1].level==0&&focus=='c_primaryWeapon')">
					<img src="/images/-1-1.jpg" style="width:16px;height:16px;vertical-align:middle;">
					&lt;只能镶嵌五彩石&gt;
				</li>
				<!-- 五彩石镶嵌孔(已镶嵌) -->
				<li ng-repeat="attribute in attributeStone[attributeStoneSelected].attributes" ng-if="((focus=='b_primaryWeapon'||focus=='c_primaryWeapon')&&((attributeStone[0].level!=0&&focus=='b_primaryWeapon')||(attributeStone[1].level!=0&&focus=='c_primaryWeapon')))&&attribute.number>0" ng-class="attribute.isActive?'plusInfo':'holeInactive'">
					<img ng-if="attribute.isFirstChild" ng-src="{{'/images/'+attribute.type+'-'+attributeStone[attributeStoneSelected].level+'.jpg'}}" style="width:16px;height:16px;vertical-align:middle;"/>
					<img ng-if="!attribute.isFirstChild" src="imgs/tou.png" style="width:16px;height:16px;vertical-align:middle;">
					{{attribute.desc}}
				</li>
				<!-- 装备使用类特效 -->
				<li class="plusInfo" ng-repeat="texiaoUseable in equips[$root.focus].data.texiao.desc" ng-if="equips[$root.focus].data.texiao.type==='Useable'">
					{{texiaoUseable}}
				</li>
				<!-- 装备套装汇总信息 -->
				<li class="quality" ng-if="equips[$root.focus].data.texiao&&equips[$root.focus].data.texiao.type==='Collection'">
					{{setController.collectionsList[setController.posSetMap[$root.focus]].name}}({{setController.collectionsList[setController.posSetMap[$root.focus]].activeNum}}/{{setController.collectionsList[setController.posSetMap[$root.focus]].allNum}})
				</li>
				<!-- 装备套装激活信息 -->
				<li class="quality" ng-repeat-start="component in setController.collectionsList[setController.posSetMap[$root.focus]].components" ng-if="component.active">{{component.equipName}}</li>
				<li class="holeInactive" ng-repeat-end ng-if="!component.active">{{component.equipName}}</li>
				<br ng-if="equips[$root.focus].data.texiao&&equips[$root.focus].data.texiao.type==='Collection'">
				<!-- 装备套装特效信息 -->
				<li ng-class="setController.collectionsList[setController.posSetMap[$root.focus]].activeNum>=effect.conditionNum?'plusInfo':'holeInactive'" ng-repeat="effect in setController.collectionsList[setController.posSetMap[$root.focus]].effects">[{{effect.conditionNum}}]{{effect.desc}}</li>
				<!-- 装备附魔 -->
				<li class="enhance">{{equips[$root.focus].enhance.desc}}</li>
				<!-- 装备品质 -->
				<li class="quality">
					品质等级{{equips[$root.focus].data.quality}}
					<span>(+{{equips[$root.focus].jinglian.quality}})</span>
				</li>
				<!-- 装备分数 -->
				<li class="score">
					装备分数{{equips[$root.focus].data.score}}
					<span>(+{{equips[$root.focus].jinglian.score}}+{{equips[$root.focus].embed.totalScore}})</span>
				</li>
				<!-- 装备推荐门票 -->
				<li class="basicInfo">
					推荐门派：{{equips[$root.focus].getRecommend()}}
				</li>
				<!-- 装备来源 -->
				<li class="basicInfo">获取：{{equips[$root.focus].data.dropSource}}</li>
				<li class="basicInfo">
					{{equips[$root.focus].data.prediction}}
				</li>
			</div>
		</div>
	</div>
</div>
