li.equipName{
	display: inline;
	font-size:13px;
	color:rgb(241,44,241);
	letter-spacing:1px;
}
li.equipNameCheng{
	display: inline;
	font-size:13px;
	color:#FF8000;
	letter-spacing:1px;
}
li.basicInfo{
	display: inline;
	font-size:13px;
	color:#F2F2F2;
	letter-spacing:1px;
}
li.plusInfo{
	display: inline;
	font-size:13px;
	color: rgb(0,200,72);
	letter-spacing:1px;
}

div.imgbox{
  min-width: 45px;
  min-height: 45px;
  margin-right:14px;
  height:45px;
  width:45px;
}


li.quality{
	display: inline;
	font-size:13px;
	color:#FFFF00;
	letter-spacing:1px;
}
li.score{
	display: inline;
	font-size:13px;
	color:#FF8000;
	letter-spacing:1px;
}
li.enhance{
	display: inline;
	font-size:13px;
	color:#00BFFF;
	letter-spacing:1px;
}
.equipView > li span{
	font-size:13px;
	color:#8FBC8F;
	letter-spacing:1px;
}
.equipView > li{
	display:block;
}
.equipView > li span.star{
	font-size:11px;
	color:#FFFF00;
	letter-spacing:1px;
}
li.holeInactive{
	display: inline;
	font-size:13px;
	color:rgb(155,155,155);
	letter-spacing:1px;
}
.equipView{
	margin-bottom: 24px;
	text-align: left;
	padding: 0 4px;
	background-color: rgb(19,34,33);
	border: 4px solid #ad8b4a;
    box-shadow: 0px 1px 2px;
}
