<!--
	@require buffCtrl.js
	@require buff-ctrl.css
 -->
<div class="card panel card-underline" ng-controller="BuffController">
	<div class="card-head card-head-sm" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseNine" data-target="#collapseNine">
		<header>奇穴与增益气劲</header>
		<div class="tools">
			<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
		</div>
	</div>
	<div id="collapseNine" class="collapse">
		<div class="card-body p-a-0">
			<div class="card tabs-left style-default-light m-b-0">
				<ul class="card-head nav nav-tabs" data-toggle="tabs">
					<li class="active"><a href="#buff">增益气劲</a></li>
					<li><a href="#qixue">奇穴</a></li>
				</ul>
				<div class="card-body tab-content style-default-bright">
					<div class="tab-pane active" id="buff">
						<div class="row">
							<div class="buff-icon col-md-3 active-buff" ng-repeat="buff in addedBuff" ng-if="buff.type!='Qixue'" ng-style="{background:'url(/icons/'+buff.icon+'.png) 0/45px no-repeat'}" ng-click="setBuff(buff.id,false)" title="{{buff.desc}}" data-toggle="tooltip" data-container="body"></div>
							<button id="add-buff" type="button" class="btn btn-raised btn-default-bright dropdown-toggle" style="width:45px;height:45px;" title="添加气劲" data-toggle="dropdown" data-container="body" ng-click="openBuffModal()">
								<b><span class="md md-add" aria-hidden="true"></span></b>
							</button>
						</div>
					</div>
					<div class="tab-pane" id="qixue">
						<div class="row">
							<label class="control-label col-md-4 p-x-0" ng-if="$root.menpai.name=='cangjian'">
								<input icheck type="checkbox" ng-model="$root.zhongjian" ng-change="setZhongjian()">  重剑激活
							</label>
							<label class="control-label col-md-4 p-x-0" ng-repeat="qixue in qixueList">
								<input icheck type="checkbox" ng-model="qixue.isCheck" ng-change="setBuff(qixue.id,qixue.isCheck)" >  {{qixue.name}}
							</label>
						</div>
					</div>
					
				</div>
				<!-- 模态框:保存新方案命名 -->
				<link rel="import" href="../components/modals/buffList.tmpl.html?__inline">
			</div><!--end .card -->
		</div>
	</div>
</div>
