<!-- 
	@require attributeStoneCtrl.js 
	@require attribute-stone.css
-->
<div class="card panel card-underline" ng-controller="AttributeStoneController">
	<div class="card-head card-head-sm" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseSeven" data-target="#collapseSeven">
		<header>五彩石</header>
		<div class="tools">
			<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
		</div>
	</div>
	<div id="collapseSeven" class="collapse in">
		<div class="card-body p-a-0">
			<div class="card tabs-left style-default-light m-b-0">
				<ul class="card-head nav nav-tabs" data-toggle="tabs">
					<li class="active"><a href="#stone-select">五彩石</a></li>
					<li class=""><a href="#stone-active">激活统计</a></li>
				</ul>
				<div class="card-body tab-content style-default-bright">
					<div class="tab-pane active form" id="stone-select">
						<select class="form-control" ng-model="$root.attributeStoneLists[attributeStoneSelected][n].setAs" ng-change="setAttributeStone(n)" ng-options="attribute for attribute in $root.attributeStoneLists[attributeStoneSelected][n].attr" id="stone-select{{n}}" ng-repeat="n in [0,1,2]" style="margin-bottom:8px">
							<option value="">{{placeHolder[n]}}</option>
						</select>
						<select class="form-control" ng-model="$root.attributeStoneLists[attributeStoneSelected][3].setAs" ng-change="setAttributeStone(3)" ng-options="attribute.name for attribute in $root.attributeStoneLists[attributeStoneSelected][3].attr track by attribute.id" id="stone-select3" style="margin-bottom:8px">
							<option value="">{{placeHolder[3]}}</option>
						</select>
							
						<div class="btn-group btn-group-justified">
							<label class="btn btn-raised btn-default-bright ink-reaction" ng-click="setAttributeStone(-1)">清除五彩石</label>
							<label class="btn btn-raised btn-default-bright ink-reaction" ng-click="autoEmbed()">一键镶嵌</label>
						</div>
						<small>一键镶嵌的五行石等级与个人设置中的默认五行石等级一致</small>
					</div>
					<div class="tab-pane column" id="stone-active">
						<p class="text-meduim text-primary-dark">第一属性</p>
						<li class="wucai5">五行石：{{$root.stoneStats[5].number}}/{{$root.attributeStone[$root.attributeStoneSelected].attributes[0].needMagicStoneNumber}}颗</li>
						<li class="wucai5">五行石：{{$root.stoneStats[5].level}}/{{$root.attributeStone[$root.attributeStoneSelected].attributes[0].needMagicStoneLevel}}级</li>
						<p class="text-meduim text-primary-dark">第二属性</p>
						<li class="wucai5">五行石：{{$root.stoneStats[5].number}}/{{$root.attributeStone[$root.attributeStoneSelected].attributes[1].needMagicStoneNumber}}颗</li>
						<li class="wucai5">五行石：{{$root.stoneStats[5].level}}/{{$root.attributeStone[$root.attributeStoneSelected].attributes[1].needMagicStoneLevel}}级</li>
						<p class="text-meduim text-primary-dark">第三属性</p>
						<li class="wucai5">五行石：{{$root.stoneStats[5].number}}/{{$root.attributeStone[$root.attributeStoneSelected].attributes[2].needMagicStoneNumber}}颗</li>
						<li class="wucai5">五行石：{{$root.stoneStats[5].level}}/{{$root.attributeStone[$root.attributeStoneSelected].attributes[2].needMagicStoneLevel}}级</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>