<!-- 
	@require attributeStoneCtrl.js 
	@require attribute-stone.css
-->
<div class="card panel card-underline" ng-controller="AttributeStoneController">
	<div class="card-head card-head-sm" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseSeven" data-target="#collapseSeven">
		<header>五彩石</header>
		<div class="tools">
			<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
		</div>
	</div>
	<div id="collapseSeven" class="collapse in">
		<div class="card-body p-a-0">
			<div class="card tabs-left style-default-light m-b-0">
				<ul class="card-head nav nav-tabs" data-toggle="tabs">
					<li class="active"><a href="#stone-select">五彩石</a></li>
					<li class=""><a href="#stone-active">激活统计</a></li>
				</ul>
				<div class="card-body tab-content style-default-bright">
					<div class="tab-pane active form" id="stone-select">
							<select class="form-control" ng-model="$root.attributeStoneLists[attributeStoneSelected][n].setAs" ng-change="setAttributeStone(n)" style="margin-bottom:8px" ng-options="attribute for attribute in $root.attributeStoneLists[attributeStoneSelected][n].attr" id="stone-select{{n}}" ng-repeat="n in [0,1,2]">
								<option value="">{{placeHolder[n]}}</option>
							</select>
							<select class="form-control" ng-model="$root.attributeStoneLists[attributeStoneSelected][3].setAs" ng-change="setAttributeStone(3)" style="margin-bottom:8px" ng-options="attribute.name for attribute in $root.attributeStoneLists[attributeStoneSelected][3].attr track by attribute.id" id="stone-select3">
								<option value="">{{placeHolder[3]}}</option>
							</select>
						<div class="btn-group btn-group-justified">
							<label class="btn btn-raised btn-default-bright ink-reaction" ng-click="setAttributeStone(-1)">重选五彩石</label>
							<label class="btn btn-raised btn-default-bright ink-reaction" ng-click="autoEmbed()">智能镶嵌</label>
						</div>
						<small>智能镶嵌的五行石等级与“镶嵌与淬炼”面板中的五行石等级一致，最低四级</small>
					</div>
					<div class="tab-pane column" id="stone-active">
						<li class="wucai5"><b>五行石：{{$root.stoneStats[5].number}}/{{activationStatsShow.needNum[5]}}颗</b></li>
						<li class="wucai5"><b>五行石：{{$root.stoneStats[5].level}}/{{activationStatsShow.needLevel[5]}}级</b></li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>