li.wucai0{
	display: block;
	font-size:13px;
	color:#FFB600;
	letter-spacing:1px;
}
li.wucai1{
	display: block;
	font-size:13px;
	color:#25D500;
	letter-spacing:1px;
}
li.wucai2{
	display: block;
	font-size:13px;
	color:#0B61A4;
	letter-spacing:1px;
}
li.wucai3{
	display: block;
	font-size:13px;
	color:#FF4F00;
	letter-spacing:1px;
}
li.wucai4{
	display: block;
	font-size:13px;
	color:#A66000;
	letter-spacing:1px;
}
li.wucai5{
	display: block;
	font-size:13px;
	color:#000000;
	letter-spacing:1px;
}