<div class="well well-sm">友情链接：
	<a href="http://www.jx3pve.com/" target="_blank" rel="noopener noreferrer"><img src="imgs/favicon-jh.ico"> 剑网3 PVE</a> | 
	<a href="http://www.j3ui.com/" target="_blank" rel="noopener noreferrer"><img src="imgs/favicon-jh.ico"> 菊花插件集</a> | 
	<a href="http://haimanchajian.com/" target="_blank" rel="noopener noreferrer"><img src="imgs/favicon-hm.ico"> 海鳗插件</a> |
	<a href="https://gailuntimo.taobao.com/" target="_blank" rel="noopener noreferrer" id="custom-ad-1"><img src="imgs/gailuntimo_16x16.jpg" width="16"> 盖伦提莫成就店</a> 
</div>