<!-- @require footer.css -->
<div id="footer" class="footer">
	<div class="container" style="list-style:none;">
		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<article class="margin-bottom-xxl text-small">
					<h4> </h4>
					<p><span class="text-primary"><a href="//www.j3pz.com/">剑网3配装器</a></span>是由玩家开发，用于剑网3游戏配装的游戏辅助工具。侠士可在选定心法后，针对该心法选择装备，并对装备进行精炼、镶嵌、附魔等各项操作，完美模拟游戏角色的配装过程，并计算出游戏角色的预期属性。</p>
					<p><span class="opacity-75">Copyright &copy; 2013-2016</span> <strong>剑网3配装器</strong> <a href="http://www.miitbeian.gov.cn/" target="_blank">滇ICP备14005270号-1</a></p>
				</article>
			</div>
			<div class="col-sm-3 col-xs-6">
				<h4 class="text-primary">用户支持</h4>
				<li><a href="//www.j3pz.com/feedback/issue/1.html" target="_blank">使用说明</a></li>
				<li><a href="//www.j3pz.com/feedback/" target="_blank">用户反馈</a></li>
				<li><a href="//www.j3pz.com/upgrade/" target="_blank">方案保存位置购买</a></li>
				<li><a href="//www.j3pz.com/developer/" target="_blank">开发者中心</li>
			</div>
			<div class="col-sm-3 hidden-xs">
				<h4 class="text-primary">关于</h4>
				<li><a href="about.html" target="_blank">关于剑网3配装器</a></li>
				<li><a href="thanks.html" target="_blank">致谢</a></li>
				<li><a href="http://www.ziofat.me/terms-of-use.html" target="_blank">免责声明与隐私条款</a></li>
				<li><a href="http://www.ziofat.me/disclaimer-about-be-banned-by-360.html" target="_blank">安全性声明</a></li>
			</div>
		</div>
	</div>
</div>