<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedback">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">用户反馈</h4>
			</div>
			<div class="modal-body">
                <p>对于配装器的任何疑问，bug，可通过填写下列反馈表进行反馈。为方便联系，以下表单均需要登录 QQ 或 微信才能填写。</p>
                <ul>
                    <li><a href="https://docs.qq.com/form/fill/DY0ZLY1d4eFR0cVR5">数值错误</a></li>
                    <li><a href="https://docs.qq.com/form/fill/DY05mUXdZUHJadWpP">计算错误</a></li>
                    <li><a href="https://docs.qq.com/form/fill/DY0VKQUR6Wk5veGNS">订单错误</a></li>
                    <li><a href="https://docs.qq.com/form/fill/DY0VUc25JSlViclho">其他</a></li>
                </ul>
                <p>也可以直接联系开发者<a href="https://weibo.com/printlts" target="_blank">微博</a>。</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>