<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedback">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">用户反馈</h4>
			</div>
			<div class="modal-body">
                <p>对于配装器的任何疑问，bug，可<a href="https://support.qq.com/product/105376" target="_blank">点击这里</a>进行反馈。需要登录 QQ 或 微信填写。</p>
                <p>也可以直接联系开发者<a href="https://weibo.com/printlts" target="_blank">微博</a>。</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>