.furniture-quality-1 {
    color: #000;
    vertical-align: middle;
    border-bottom: 1px solid #000;
}
.furniture-quality-2 {
    color: #2e7d32;
    vertical-align: middle;
    border-bottom: 1px solid #2e7d32;
}
.furniture-quality-3 {
    color: #283593;
    vertical-align: middle;
    border-bottom: 1px solid #283593;
}
.furniture-quality-4 {
    color: #ef6c00;
    vertical-align: middle;
    border-bottom: 1px solid #ef6c00;
}

.homeland-icon {
    width: 52px;
    height: 52px;
}
.homeland-icon.icon1 {
    background-image: url(./icon1.png);
    background-size: 988px 468px;
}
.homeland-icon.icon2 {
    background-image: url(./icon2.png);
    background-size: 988px 520px;
}

.furniture-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(./icon3.png);
    background-size: 64px 16px;
    vertical-align: middle;
}

.furniture-icon.furniture-interactable {
    background-position: -32px 0px;
}
.furniture-icon.furniture-scaleable {
    background-position: 0px 0px;
}
.furniture-icon.furniture-chainable {
    background-position: -48px 0px;
}
