<!DOCTYPE html>
<html lang="zh-cn" ng-app="J3Homeland"  xmlns:wb="http://open.weibo.com/wb">
	<head>
		<title>家具查询 | 剑网3配装器</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="剑网3配装器为剑网3玩家提供完善、准确的配装工具。">
		<meta name="author" content="胖叔叔">
		<meta name="keywords" content="剑网3,西山居,剑侠情缘,配装器,装备,加速宝典">
		<!--
			@require '../css/theme/bootstrap.css'
			@require '../css/theme/materialadmin.css'
			@require '../css/theme/font-awesome.min.css'
			@require '../css/theme/material-design-iconic-font.min.css'
			@require '../css/theme/libs/toastr/toastr.css'
			@require '../components/common/common.css'
			@require '../css/all.css'
			@require 'homeland.css'
		-->
		<!-- STYLE_PLACEHOLDER -->
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="js/libs/utils/html5shiv.js"></script>
		<script type="text/javascript" src="js/libs/utils/respond.min.js"></script>
		<![endif]-->
		<!-- Google 统计代码 -->
		<script rel="text/javascript" src="../components/google-analystics/googleAnalystics.js?__inline"></script><!--ignore-->
		<!-- 浏览器兼容性检查 -->
		<script rel="text/javascript" src="../components/compatibility-check/compatibilityCheck.js?__inline"></script><!--ignore-->
	</head>

	<body class="header-fixed menubar-pin full-content">
		<header id="header">
			<!-- 导航栏 -->
			<link rel="import" href="../components/header/header.tmpl.html?__inline">
		</header>

		<div id="base">
			<div id="content" ng-controller="FurnitureCtrl" ng-cloak>
				<section style="padding:0;overflow-x:hidden;">
					<div class="section-body content" style="display: flex; flex-direction: column;margin-top: 0; padding-top: 24px;">
						<div class="rows" style="width: 100%;">
                            <div class="col-md-3 panel-group" id="accordionOne">
								<div class="card style-default-bright panel">
									<button type="button"
										class="btn btn-block ink-reaction btn-default-bright"
										ng-class="{'btn-primary': category === undefined}"
										ng-click="searchAll()"
									>全部类别</button>
								</div>
                                <div class="card style-default-bright panel">
									<div class="card-head card-head-sm" data-toggle="collapse" data-parent="#accordionOne" href="#collapseOne" data-target="#collapseOne">
										<header>建筑</header>
										<div class="tools">
											<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
										</div>
									</div>
									<div id="collapseOne" class="collapse in">
										<div class="card-body no-padding">
											<ul class="list divider-full-bleed">
												<li class="tile" ng-repeat="item in categorys[0]" ng-click="chooseCategory(item)" ng-class="item.key == category ? 'active':''">
													<a class="tile-content ink-reaction">
														<div class="tile-icon">
															<div class="homeland-icon" ng-class="item.icon.file" ng-style="getIcon(item)"></div>
														</div>
														<div class="tile-text" style="font-size: 14px;">
															{{item.value}}
														</div>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="card style-default-bright panel">
									<div class="card-head card-head-sm" data-toggle="collapse" data-parent="#accordionOne" href="#collapseTwo" data-target="#collapseTwo">
										<header>家具</header>
										<div class="tools">
											<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
										</div>
									</div>
									<div id="collapseTwo" class="collapse">
										<div class="card-body no-padding">
											<ul class="list divider-full-bleed">
												<li class="tile" ng-repeat="item in categorys[1]" ng-click="chooseCategory(item)" ng-class="item.key == category ? 'active':''">
													<a class="tile-content ink-reaction">
														<div class="tile-icon">
															<div class="homeland-icon" ng-class="item.icon.file" ng-style="getIcon(item)"></div>
														</div>
														<div class="tile-text" style="font-size: 14px;">
															{{item.value}}
														</div>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="card style-default-bright panel">
									<div class="card-head card-head-sm" data-toggle="collapse" data-parent="#accordionOne" href="#collapseThree" data-target="#collapseThree">
										<header>景观</header>
										<div class="tools">
											<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
										</div>
									</div>
									<div id="collapseThree" class="collapse">
										<div class="card-body no-padding">
											<ul class="list divider-full-bleed">
												<li class="tile" ng-repeat="item in categorys[2]" ng-click="chooseCategory(item)" ng-class="item.key == category ? 'active':''">
													<a class="tile-content ink-reaction">
														<div class="tile-icon">
															<div class="homeland-icon" ng-class="item.icon.file" ng-style="getIcon(item)"></div>
														</div>
														<div class="tile-text" style="font-size: 14px;">
															{{item.value}}
														</div>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="card style-default-bright panel">
									<div class="card-head card-head-sm" data-toggle="collapse" data-parent="#accordionOne" href="#collapseFour" data-target="#collapseFour">
										<header>收藏</header>
										<div class="tools">
											<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
										</div>
									</div>
									<div id="collapseFour" class="collapse">
										<div class="card-body no-padding">
											<ul class="list divider-full-bleed">
												<li class="tile" ng-repeat="item in categorys[3]" ng-click="chooseCategory(item)" ng-class="item.key == category ? 'active':''">
													<a class="tile-content ink-reaction">
														<div class="tile-icon">
															<div class="homeland-icon" ng-class="item.icon.file" ng-style="getIcon(item)"></div>
														</div>
														<div class="tile-text" style="font-size: 14px;">
															{{item.value}}
														</div>
													</a>
												</li>
											</ul>
										</div>
									</div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card style-default-bright">
                                    <div class="card-body">
										<div style=" margin-bottom: 24px;">
											<label class="text-primary-dark" for="extra">筛选</label><br>
											<div class="rows">
												<div class="dropdown" style="display: inline-block; margin-right: 24px;">
													<a class="btn ink-reaction btn-raised btn-default-bright dropdown-toggle" id="source-filter" type="button"  data-toggle="dropdown">来源：{{source}} <i class="fa fa-caret-down text-default-light"></i></a>
													<ul class="dropdown-menu animation-expand" role="menu" aria-labelledby="source-filter" style="max-height: 250px;overflow-x: hidden;">
														<li ng-repeat="sourceItem in sources" ng-click="setSource(sourceItem)" ng-class="{'disabled': shouldDisable(sourceItem)}"><a href>{{sourceItem}}</a></li>
													</ul>
												</div>
												<div class="dropdown" style="display: inline-block; margin-right: 24px;">
													<a class="btn ink-reaction btn-raised btn-default-bright dropdown-toggle" id="source-filter" type="button"  data-toggle="dropdown">最高家园等级：{{level}} 级 <i class="fa fa-caret-down text-default-light"></i></a>
													<ul class="dropdown-menu animation-expand" role="menu" aria-labelledby="source-filter" style="max-height: 250px;overflow-x: hidden;">
														<li ng-repeat="levelItem in levels" ng-click="setLevel(levelItem)"><a href>家园 {{levelItem}} 级</a></li>
													</ul>
												</div>
												<div class="dropdown" style="display: inline-block;">
													<a class="btn ink-reaction btn-raised btn-default-bright dropdown-toggle" id="source-filter" type="button"  data-toggle="dropdown">排序：{{orders[order].desc}} <i class="fa fa-caret-down text-default-light"></i></a>
													<ul class="dropdown-menu animation-expand" role="menu" aria-labelledby="source-filter" style="max-height: 250px;overflow-x: hidden;">
														<li ng-repeat="orderItem in orders track by $index" ng-click="setOrder($index)"><a href>{{orderItem.desc}}</a></li>
													</ul>
												</div>
											</div>
										</div>
										<label class="text-primary-dark" for="extra">家具列表</label><br>
										<div class="table-container" style="max-height: 800px;overflow: auto;">
											<table class="table">
												<thead>
													<tr>
														<th>名称</th>
														<th>品质等级</th>
														<th>可用家园等级</th>
														<th>景观</th>
														<th>实用</th>
														<th>坚固</th>
														<th>风水</th>
														<th>趣味</th>
														<th>来源</th>
														<th>价格</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="item in data">
														<td>
															<span ng-class="'furniture-quality-' + item.attributes.quality">{{item.attributes.name}}</span>
															<span ng-if="item.attributes.interact" class="furniture-icon furniture-interactable" tooltip="可交互" tooltip-append-to-body="true"></span>
															<span ng-if="item.attributes.scaleRange" class="furniture-icon furniture-scaleable" tooltip="可缩放" tooltip-append-to-body="true"></span>
															<!-- <span ng-if="item.attributes." class="furniture-icon furniture-chainable" tooltip="可连刷" tooltip-append-to-body="true"></span> -->
														</td>
														<td>{{item.attributes.level}}</td>
														<td>{{item.attributes.limit}}</td>
														<td>{{item.attributes.beauty}}</td>
														<td>{{item.attributes.practicality}}</td>
														<td>{{item.attributes.robustness}}</td>
														<td>{{item.attributes.environment}}</td>
														<td>{{item.attributes.fun}}</td>
														<td>{{item.attributes.source}}</td>
														<td>{{item.attributes.price}}</td>
													</tr>
												</tbody>
											</table>
										</div>
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="push"></div>
					</div>
					<!-- 底栏 -->
					<footer>
						<link rel="import" href="../components/footer/footer.tmpl.html?__inline">
					</footer>
				</section>
			</div>
			<div id="menubar" class="menubar-inverse">
				<link rel="import" href="../components/tools-menu/toolsMenu.tmpl.html?__inline">
			</div>
		</div>
		<div id="modals">
			<!-- 模态框:登录 -->
			<link rel="import" href="../components/modals/login.tmpl.html?__inline">
			<!-- 模态框:更新说明 -->
			<link rel="import" href="../components/modals/update.tmpl.html?__inline">
			<!-- 模态框:反馈框 -->
			<link rel="import" href="../components/modals/feedback.tmpl.html?__inline">
		</div>


		<script src="../js/libs/jquery/jquery-1.11.2.min.js" data-framework></script>
		<script src="../js/libs/bootstrap/bootstrap.min.js" data-framework></script>
		<script src="../js/libs/angular/angular.min.js" data-framework></script>
		<script src="../js/libs/angular/angular-aria.min.js" data-framework></script>
        <script src="../js/libs/icheck/icheck.min.js" data-framework></script>
        <script src="../js/libs/ui-bootstrap-tooltip/ui-bootstrap-custom-tpls-1.2.5.min.js" data-framework></script>
		<script src="../js/libs/toastr/angular-toastr.tpls.min.js" data-framework></script>
		<script src="../js/core/source/App.min.js"></script>
		<script src="homeland.js" data-framework></script>
		<!-- SCRIPT_PLACEHOLDER -->
	</body>
</html>
